.button {
    padding: .7rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: 2px solid #0deeeeed;
    color: #0deeeeed;
    background: #000;
    word-spacing: 4px;
    margin-bottom: 2rem;
    outline:none !important;
    border-radius:6px;
}
.button:hover{
	border: 2px solid #0deeeeed;
	background:#0deeeeed;
    color: #000;	
}
.button-1{
    padding: .7rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: 2px solid #0deeeeed;
    background:#0deeeeed;
    color: #000;
    outline: none !important;
    word-spacing: 4px;
    border-radius: 6px;
}
.button-1:hover{
	border: 2px solid #0deeeeed;
    color: #0deeeeed;
    background: #000;	
}
.button-2{
    padding: .4rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: 2px solid #0deeeeed;
    background:#0deeeeed;
    color: #000;
    word-spacing: 4px;
    border-radius: 50%;
    outline: none !important;
    box-shadow: 3px 3px 55px 10px #0deeeeed;
}
.button-2:hover{
	border: 2px solid #0deeeeed;
    color: #0deeeeed;
    background: #000;	
}
.button-3{
    padding: .7rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: none !important;
    outline: none !important;
    background:#0deeeeed;
    color: #000;
    word-spacing: 4px;
    border-radius: 25px;
}
span.span {
    color: #0deeeeed;
}